<!DOCTYPE html>
<html>

<head>
    <title>Sign Up</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../public/stylesheets/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body id="register">
<img id="background" src="https://s-ec.bstatic.com/images/hotel/max1024x768/153/15356884.jpg">
<nav class=" color navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><b>Hotel</b></a>
        </div>
        <ul class="nav navbar-nav pull-right">
            <li><a href="../index.html">Home</a></li>
            <li><a href="Rooms.html">Rooms</a></li>
            <!--<li><a href="services.html">Services</a></li>-->
            <!--<li><a href="contact.html">Contact</a></li>-->
        </ul>
    </div>
</nav>
<!--ng-app='myApp' ng-controller='login'  ng-model="userName"  ng-model="passWord"  ng-click="login()"-->
<!--ng-app='myApp' ng-controller='login'  ng-model="userName"  ng-model="passWord"  ng-click="login()"-->
<!--ng-app='myApp' ng-controller='login'  ng-model="userName"  ng-model="passWord"  ng-click="login()"-->
<section class="section-padding" >

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Customer Registration</h3>
                    </div>
                    <div class="panel-body">

                        <!--<div class="alert alert-success" ng-show=""> Registered successfully...</div>-->
                        <div class="alert alert-danger" ng-show="fullnameMessage">Unvaild Full Name</div>
                        <div class="alert alert-danger" ng-show="usernameMessage">Unvalid User Name</div>
                        <div class="alert alert-danger" ng-show="passwordMessage">Unvalid Password</div>
                        <div class="alert alert-danger" ng-show="addressMessage">Unvalid Address</div>
                        <div class="alert alert-danger" ng-show="emailMessage">Unvalid Email</div>
                        <div class="alert alert-danger" ng-show="phoneMessage">Unvalid Phone Number</div>

                        <fieldset ng-show="!successfulRegistration">
                            <div class="form-group">
                                <input class="form-control" ng-blur="fullnameValidation()" placeholder="Full Name" id='fullname' name="fullname" ng-model='fullname' type="text"  value="" autofocus required>
                            </div>
                            <div class="form-group">
                                <input class="form-control"  ng-blur="usernameValidation()" placeholder="Username (alphabet or numeric)" id='username' name="username" ng-model='username' type="text" value="" autofocus required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" ng-blur="passwordValidation()"  type='password' placeholder="Password (alphabet or numeric, at least six)" id='password' name="password" ng-model='password' value="" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" ng-blur="addressValidation()" type='address' placeholder="Address" id='address' name="address" ng-model='address' value="" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" ng-blur="emailValidation()" type='email' placeholder="Email" id='email' name="email" ng-model='email' value="" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" ng-blur="phoneValidation()" type='phone' placeholder="Phone Number" id='phone' name="phone" ng-model='phone' value="" required>
                            </div>

                            <div class="form-group">
                                <button type="submit" ng-click="registerUser()" class="btn btn-primary">Register</button>
                                <button  href="login.html" type="submit" class="btn btn-default">Back to Login</button>

                            </div>

                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>






<!-- copyright -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>