doctype html
html
  head
    title Hotel
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='stylesheets/main.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body
    // beginning of nav
    nav.color.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='#')
            b Hotel
        ul.nav.navbar-nav.pull-right
          li
            a(href='../index.html') Home
          li
            a(ng-href='{{AccountHref}}') {{LoginName}}
          li
            a(href='Rooms.html') Rooms
          li
            a(href='services.html') Services
          li
            a(href='contact.html') Contact
    // end of nav
    // heroslider
    section
      #myCarousel.carousel.slide(data-ride='carousel')
        // Indicators
        ol.carousel-indicators
          li.active(data-target='#myCarousel', data-slide-to='0')
          li(data-target='#myCarousel', data-slide-to='1')
          li(data-target='#myCarousel', data-slide-to='2')
        // Wrapper for slides
        .carousel-inner
          .item.active
            img(src='http://silverinfra.com/wp-content/uploads/2015/01/hotel.jpg', alt='Los Angeles', style='width:100%;')
          .item
            img(src='https://www.safarihotelsnamibia.com/wp-content/uploads/2014/11/Safari-Court-Hotel-Pool.jpg', alt='Chicago', style='width:100%;')
          .item
            img(src='http://www.hotelgalvez.com/resourcefiles/mainimages/location-of-hotel-galvez-and-spa-galveston-top.jpg', alt='New york', style='width:100%;')
        // Left and right controls
        a.left.carousel-control(href='#myCarousel', data-slide='prev')
          span.glyphicon.glyphicon-chevron-left
          span.sr-only Previous
        a.right.carousel-control(href='#myCarousel', data-slide='next')
          span.glyphicon.glyphicon-chevron-right
          span.sr-only Next
    // end of heroslider
    // &lt;!&ndash; Beginning of About Us &ndash;&gt;
    // <section class="section-padding">
    // <div class="container">
    // <div class="row">
    // <div class="col-md-6">
    // <div class="about&#45;&#45;content">
    // <h2 class="heading"><b> About Us </b></h2>
    // <p class="paragraph">
    // Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    // </p>
    // <a href="pages/about.html"><button class="button-s">Read More</button></a>
    // </a>
    // </div>
    // </div>
    // <div class="col-md-6">
    // <img src="https://www.usandbeyond.com/wp-content/uploads/2018/01/Hote1.jpg" class="img-thumbnail">
    // </div>
    // </div>
    // </div>
    // </section>
    // &lt;!&ndash; End of About us &ndash;&gt;
    // &lt;!&ndash; Beginning of Rooms &ndash;&gt;
    // <section class="section-padding services">
    // <div class="Rooms">
    // <div class="container">
    // <h1 class="service__heading service&#45;&#45;headingbg top-margin"><b>Rooms</b></h1>
    // <div class="services-services">
    // <div class="row">
    // <div class="col-md-4 box">
    // <img src="http://www.vistahungary.com/uploads/images/Expo%20hotel_standard%20room.JPG" class="img-thumbnail">
    //
    //
    // </div>
    // <div class="col-md-4 box">
    // <img src="http://www.vistahungary.com/uploads/images/Expo%20hotel_standard%20room.JPG" class="img-thumbnail">
    //
    // </div>
    // <div class="col-md-4 box">
    // <img src="http://www.vistahungary.com/uploads/images/Expo%20hotel_standard%20room.JPG" class="img-thumbnail">
    //
    // </div>
    // </div>
    // </div>
    // <div class="services-services">
    // <div class="row">
    // <div class="col-md-4 box">
    // <img src="http://www.vistahungary.com/uploads/images/Expo%20hotel_standard%20room.JPG" class="img-thumbnail">
    //
    // </div>
    // <div class="col-md-4 box">
    // <img src="http://www.vistahungary.com/uploads/images/Expo%20hotel_standard%20room.JPG" class="img-thumbnail">
    //
    // </div>
    // <div class="col-md-4 box">
    // <img src="http://www.vistahungary.com/uploads/images/Expo%20hotel_standard%20room.JPG" class="img-thumbnail">
    //
    // </div>
    // </div>
    // <a href="pages/advantages.html">
    // <a href="pages/about.html"><button class="button-s">Read More</button></a>
    // </a>
    // </div>
    // </div>
    // </div>
    // </section>
    // &lt;!&ndash; end of Rooms &ndash;&gt;
    // Services
    section.section-padding
      .container
        h1.service__heading.service--headingbg.top-margin
          b Services
        .row
          .col-md-4.box
            img.img-thumbnail(src='http://www.rightconnections.in/images/background/Ananda-Himalayas-4.png')
            h3 Spa
            p.paragraph
              | We are committed to using only 100% natural and synthetic-free products for all of our services. Our skin care lines are so pure.
          .col-md-4.box
            img.img-thumbnail(src='https://www.nycgo.com/images/venues/2825/boskitchenbarroom-levenson-bar-kristel__x_large.jpg')
            h3 Bar
            p.paragraph
              | You are why we do what we do. Providing you with the best possible experience every time you walk through our doors is our primary focus.
          .col-md-4.box
            img.img-thumbnail(src='https://cdn-images-1.medium.com/max/1280/1*r02q17GGCoyh3JyjNnqoDA.png')
            h3 Coffee bar
            p.paragraph
              | Our priority is your great service and an even better experience. We value all of our clients and will do our best to make sure you are completely satisfied.
        .services-services
          .row
            .col-md-4.box
              img.img-thumbnail(src='https://www.visitreykjanes.is/static/toy/images/img_1247-copy.jpg')
              h3 Swimming Pool
              p.paragraph
                | We are committed to using only 100% natural and synthetic-free products for all of our services. Our skin care lines are so pure.
            .col-md-4.box
              img.img-thumbnail(src='https://www.cs.utexas.edu/~hunt/fmcad/FMCAD11/venue/food_bar.jpg')
              h3 Food Bar
              p.paragraph
                | You are why we do what we do. Providing you with the best possible experience every time you walk through our doors is our primary focus.
            .col-md-4.box
              img.img-thumbnail(src='https://www.cs.utexas.edu/~hunt/fmcad/FMCAD11/venue/food_bar.jpg')
              h3 Dinner
              p.paragraph
                | Our priority is your great service and an even better experience. We value all of our clients and will do our best to make sure you are completely satisfied.
          a(href='pages/advantages.html')
          a(href='pages/about.html')
            button.button-s Read More
    // End of services
    // beginning of Footer
    footer.footer
      .footer
        .container
          h3
            b
          .col-md-3
            div
              img(src='https://image.freepik.com/free-icon/restaurant-cutlery-circular-symbol-of-a-spoon-and-a-fork-in-a-circle_318-61086.jpg', height='50px', width='50px')
            | lients and will do our best to make sure you are completely satisfied lients and will do our best to make sure you are completely satisfied lients and will do our best to make sure you are completely satisfied
          .col-md-3
            ul
              li.active
                a(href='#') Home
              li
                a(href='pages/about.html') About us
              li
                a(href='pages/Rooms.html') Rooms
              li
                a(href='pages/services.html') Services
              li
                a(href='pages/contact.html') Contact
          .col-md-3
            | lients and will do our best to make sure you are completely satisfied
          .col-md-3
            ul
              li
                a(href='#', title='')
                  i.fa.fa-facebook
              li
                a(href='#', title='')
                  i.fa.fa-twitter
              li
                a(href='#', title='')
                  i.fa.fa-google-plus
              li
                a(href='#', title='')
                  i.fa.fa-linkedin
    // End of footer
    // Copyright
    .copyright
      .container
        .col-md-12
          p.paragraph
            | Copyright by
            a(href='#')  KITE Nepal
            |  , 2018
    // copyright
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
