
<div id="searchBack">
<nav class=" color navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/#/"><b>Hotel</b></a>
        </div>
        <ul class="nav navbar-nav pull-right">
            <li><a href="/#/">Home</a></li>
            <li><a href="/#/rooms">Rooms</a></li>
        </ul>
    </div>
</nav>

<section class="section-padding">

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Avaliable Room Search</h3>
                    </div>
                    <div class="panel-body">

                        <fieldset>

                            <div class="well">
                                Room Type Preferred
                                <select ng-model="selectedType" ng-options="x for x in allType"></select>
                            </div>

                            <div class="form-group">
                                <input class="form-control" type='capacity' placeholder="Number of people"
                                       id='numberOfPeople' name="numberOfPeople" ng-model='numberOfPeople' value=""
                                       required>
                            </div>

                            <div class="form-group">
                                Arrive Date
                                <input type="date" ng-model="startDate"/>
                            </div>
                            <div class="form-group">
                                Leave Date
                                <input type="date" ng-model="endDate"/>
                            </div>

                            <div class="form-group">
                                <button type="submit" ng-click="searchRooms()" class="btn btn-primary">Search</button>

                            </div>

                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="col-md-8" ng-model="searchResult">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Our Suggestion</h3>
                    </div>
                    <div class="panel-body">

                        <fieldset>

                            <div class="form-group">
                                Arrive Date
                                <input type="date" ng-model="startDate"/>
                            </div>
                            <div class="form-group">
                                Leave Date
                                <input type="date" ng-model="endDate"/>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>